# dependencies
/node_modules
**/node_modules/
**/.env
**/.env.local
**/.env.*.local
.DS_Store
*.pem
*.key
*.p12
coverage/
dist/
build/
.next/
.vercel/
.idea/
.vscode/
.history/
.bash_history
.node_repl_history
.config/

AGENTS.md
CLAUDE.md
