body {
  font-family: "Lucida Console", monospace;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  color: #0072e3;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.custom-file-input {
  background-color: #0072e3;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
}

.custom-file-input:hover {
  background-color: #005bbf;
}

.file-input {
  display: none;
}

.upload-button {
  background-color: #2a9d8f;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #005bbf;
}

.file-name {
  margin: 10px 0;
  
  font-weight: bold;
}

.file-title {
  font-size: 15px;
}

.progress-container {
  margin: 20px 0;
  flex-direction: column;
  align-items: center;
}

.file-progress {
  width: 100%;
  height: 20px;
  background-color: #0072e3;
  border-radius: 5px;
  border: none;
}

.progress-text {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}

.result-box {
  margin: 20px 0;
  display: none
}

.success-text,
.error-text {
  font-weight: bold;
  font-size: 18px;
}

.url-text {
  font-size: 13px;
  margin-top: 10px;
}

.copy-button {
  background-color: #0072e3;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.copy-button:hover {
  background-color: #005bbf;
}

.reload-button {
  background-color: #d90429;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.file-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  position: relative
}

.file-item img, .file-item button {
  margin-top: 5px; /* Aşağı indir */
}

.button-container {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #0072e3;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  margin: 10px;
}

.copy-link-button {
  background-color: #0072e3;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  margin: 10px;
}

.copy-link-button:hover {
  background-color: #005bbf;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #ddd;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.site-name {
  padding: 0;
  margin-left: 10px;
}

.user-info {
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.user-email {
  margin-right: 10px;
}

#logout-btn {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
}

#logout-btn:hover {
  background-color: #ddd;
}

.delete-button, .share-button {
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 10px;
  cursor: pointer;
  margin: 10px;
  background-color: transparent;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  display: flex;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.img-preview, .file-preview {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 95%;
  margin: auto
}

.audio-preview, .video-preview {
  display: none;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: auto
}

.code-preview {
  display: none;
  white-space: nowrap;
  overflow: scroll;
  text-overflow: ellipsis;
  width: 100%;
  height: 95%;
  margin: auto
}

.share-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    z-index: 1;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.url-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  max-width: 95%;
}

.copy-share-link-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.copy-share-link-button:hover {
    background-color: #45a049;
}

.file-size {
  padding-left: 10px;
}

/* Responsive */
@media only screen and (max-width: 700px) {
  .container {
    padding: 10px;
    margin: 5px;
  }
  
  /*

  .share-popup {
    width: 80%;
  }

  .file-list {
    align-items: flex-start;
  }*/

  .file-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .button-container {
    flex-direction: row;
  }
  
  input {
    width: 60%;
  }
  
  .file-title {
    font-size: 12px;
    padding-bottom: 5px
  }
}
